body {
  font-size: 16px;
  color: #000000;
  background-image: url("https://raw.githubusercontent.com/omegalow/omegalow/master/images/circuit.jpg");
  font-family: 'Roboto', sans-serif;
}

/** HEADER **/
#header-nav {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),url("https://raw.githubusercontent.com/omegalow/omegalow/master/images/electronics-1242938.jpg");
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* logo name or somin */
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
#nav-list a:hover {
  color: #39FF14;
  background: rgba(170, 170, 170, .2);
}
#nav-list a span {
  font-size: 1.8em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#box{
  border: 3px solid black;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}
#main-content{
  margin-right: 15px;
  margin-left: 15px;
}
/* END HEADER */
