body {
  font-size: 16px;
  color: #blue;
  background-color:white;
  font-family: 'Times', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', serif;
  color: #black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#box{
  border: 1px solid black;
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px:
}
#main-content{
  margin-right: 15px;
  margin-left: 15px;
}
/* END HEADER */
